 /* nav-bar */
        .navbar-light .navbar-brand {
            color: white;
            
        }
      .navbar-light .navbar-nav .nav-link {
    color: black
}

        a {
            text-decoration: none;
            color: black;
            /* background-color: #13a2a2; */
        }

        body {
            font-family: serif;
            color: #13a2a2;
            background-image: url("../images/bg-pp.png");
        }

        p{
            margin: 25px;
        }

      .navbar-light .navbar-brand {
     color: black
}

        #main-text{
            color: black;
            width: 100%;
            display: flex;

        }

        h2 {

            color: #13a2a2;
            line-height: 2;
            font-size: 1.5rem;
            font-weight: 600;
            border-bottom: .01px solid gray;
            
              }
        

        #text-image-main{
         position: relative;
         bottom: 40px;
         background-color:#13a2a2;
         color: white;
         text-align: center;
         position: relative;
         overflow: hidden;
         width: 100%;

        }

        .image-main{
            position: relative;
            width: 100%;
            padding: 30px;
        } 

        .container{
            background-color: whitesmoke;
        padding: 25px;
        margin-top: 25px;
            
        }

        .container #container-index{
        }
            


     @media screen and (max-width: 980px) {


        .container #container-index{
            margin-top: 100px;
            max-width: 650px;
                height: 800px;
             margin-top: 50px;
        }

           #image-position{
              display: block;
              width: 200%;
              margin-right: 20px;
           }

        .container {
           max-width: 50%;
           margin-top: 40px;
           margin-bottom: 50px;
            
        }
 } 

 @media screen and (max-width: 768px) {

     #image-position{
              display: flex;
              width: 100%;
              margin-right: 20px;
           }

        .container {
           max-width: 50%;
           margin-top: 40px;
           margin-bottom: 50px;
            
        }      
 }

 

 @media screen and (max-width: 640px) {

     #image-position{
              display: block;
              width: 100%;
              margin-left: 0px;
              margin-right: 0px;
              
           }

        .container {
         max-width: 50%;
           margin-top: 40px;
           margin-bottom: 50px;
           float: left;
           margin-left:70px;
            
        }      

        .navbar{

            display:flex;

        }

        /* body{
            text-align: center;
        } */
 }

 