 /* nav-bar */
        .navbar-light .navbar-brand {
            color: white;
        }

        a {
            text-decoration: none;
            background-color: rgb(29, 189, 189);
        }

        body {
            font-family: serif;
            color: rgb(29, 189, 189);
            background-image: url("../images/bg-pp.png");
        }

        h2 {
            line-height: 2;
            font-size: 1.5rem;
            font-weight: 600;
            border-bottom: .01px solid gray;
        

        }

        #text-image-main{
         position: relative;
         bottom: 40px;
         background-color: aqua;
         color: white;
         /* width: 100%; */

        }

        .image-main{
            position: relative;
            width: 100%;
        } 

        .container{
            background-color: whitesmoke;
        }

        .container #container-index{
        }
            
            



     @media screen and (max-width: 980px) {


        .container #container-index{
            margin-top: 100px;
            max-width: 650px;
                height: 800px;
             margin-top: 50px;
        }

           #image-position{
              display: block;
              width: 200%;
              margin-right: 20px;
           }

        .container {
           max-width: 50%;
           margin-top: 40px;
           margin-bottom: 50px;
            
        }
 } 

 @media screen and (max-width: 768px) {

     #image-position{
              display: flex;
              width: 100%;
              margin-right: 20px;
           }

        .container {
           max-width: 50%;
           margin-top: 40px;
           margin-bottom: 50px;
            
        }      
 }

 @media screen and (max-width: 640px) {

     #image-position{
              display: block;
              width: 200%;
              margin-left: 0px;
              margin-right: 0px;
              
           }

        .container {
         max-width: 50%;
           margin-top: 40px;
           margin-bottom: 50px;
           float: left;
           margin-left:70px;
            
        }      

        .navbar{

            display:flex;

        }

        /* body{
            text-align: center;
        } */
 }

 